<nav class="container">
  <ul>
    <li class="menu">&#9776;</li>
    <div class="dropdown">
      <li><a link="#welcome" href="#">Home</a></li>
      <li><a link="#about" href="#">About</a></li>
      <li><a link="#projects" href="#">Projects</a></li>
      <li><a link="#skills" href="#">Skills</a></li>
      <li><a link="#contact" href="#">Contact</a></li>
    </div>
  </ul>
</nav>
