<nav class="container">
  <ul>
    <li class="menu">&#9776;</li>
    <div class="dropdown">
      <li><a link="#welcome">Home</a></li>
      <li><a link="#about">About</a></li>
      <li><a link="#projects">Projects</a></li>
      <li><a link="#skills">Skills</a></li>
      <li><a link="#contact">Contact</a></li>
    </div>
  </ul>
</nav>
