<section id="welcome">
  <div class="head">
    <h1><span id="mark">MARK</span><span id="surname"> SHERRIN<span id="g">G</span>TON</span></h1>
    <h3><pre>-    W E B   D E V E L O P E R    -</pre></h3>
  </div>
  <img id="arrow" href="#about" src="assets/images/downarrow.png">

</section>

<section id="about">
    <div class="row">
      <div class="col-sm-12">
        <h2>About Me</h2>
        <br>
        <p>My name is Mark and I'm a Web Developer based in London.</p>
        <p>I recently finished an immersive web development course at General Assembly.</p>
        <p>I've always been interested in technological advancement and this course gave me the skills and confidence to transition from Hotel Management into a career in the tech industry. Learning multiple languages and gaining practical experience of various frameworks, I also built an understanding of project planning, agile methodologies and the importance of team collaboration. You can see my <u id="projects-link" href="#projects">projects</u> below.</p>
        <p>In my spare time I'm usually a keen traveller, but these days when I'm not coding I'm busy preparing for my son to be born this summer!</p>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <div class="image keyboard"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <br>
    <div class="row">

      <div class="col-sm-6">
        <h3><b>MEET APP</b></h3>
        <h4>- Project 4 -</h4>
        <br>
        <a href="https://meet-app-events.herokuapp.com" target="_blank"><div class="image pop meet-app"></div></a>
        <p>A user-driven events platform made with an Angular frontend and a Ruby on Rails API.</p>
        <p><strong>Site link: </strong><a href="https://meet-app-events.herokuapp.com" target="_blank"><u>meet-app-events.herokuapp.com</u></a></p>
        <p><strong>Code: </strong><a href="https://github.com/msherrington/Meet-App" target="_blank"><u>github.com/msherrington/Meet-App</u></a></p>
      </div>

      <div class="col-sm-6">
        <h3><b>SPEAK EASY</b></h3>
        <h4>- Project 3 -</h4>
        <br>
        <a href="https://speak-easy-app.herokuapp.com" target="_blank"><div class="image pop speak-easy"></div></a>
        <p>A RESTful MEAN stack platform to connect with language exchange partners.</p>
        <p><strong>Site link: </strong><a href="https://speak-easy-app.herokuapp.com" target="_blank"><u>speak-easy-app.herokuapp.com</u></a></p>
        <p><strong>Code: </strong><a href="https://github.com/msherrington/Speak-Easy" target="_blank"><u>github.com/msherrington/Speak-Easy</u></a></p>
      </div>

      <div class="col-sm-6">
        <h3><b>SIP ADVISOR</b></h3>
        <h4>- Project 2 -</h4>
        <br>
        <a href="https://sip-advisor.herokuapp.com" target="_blank"><div class="image pop sip-advisor"></div></a>
        <p>A full stack jQuery app designed for travellers who enjoy trying local drinks!</p>
        <p><strong>Site link: </strong><a href="https://sip-advisor.herokuapp.com" target="_blank"><u>sip-advisor.herokuapp.com</u></a></p>
        <p><strong>Code: </strong><a href="https://github.com/msherrington/Sip-Advisor" target="_blank"><u>github.com/msherrington/Sip-Advisor</u></a></p>
      </div>

      <div class="col-sm-6">
        <h3><b>CODE CATCHER</b></h3>
        <h4>- Project 1 -</h4>
        <br>
        <a href="https://code-catcher.herokuapp.com" target="_blank"><div class="image pop code-catcher"></div></a>
        <p>A fun interactive game built in HTML, CSS, JavaScript and jQuery.</p>
        <p><strong>Site link: </strong><a href="https://code-catcher.herokuapp.com" target="_blank"><u>code-catcher.herokuapp.com</u></a></p>
        <p><strong>Code: </strong><a href="https://github.com/msherrington/Code-Catcher" target="_blank"><u>github.com/msherrington/Code-Catcher</u></a></p>
      </div>
    </div>
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-one"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-two"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-three"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-four"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-five"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-six"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-seven"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-eight"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-nine"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-ten"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-eleven"></div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="image image-twelve"></div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="row">
      <div class="col-sm-12">
        <h2>Connect with me...</h2>
        <br>
        <a href="mailto:hello@marksherrington.uk">Email</a>
        <a href="https://www.linkedin.com/in/mark-sherrington/" target="_blank">LinkedIn</a>
        <a href="https://github.com/msherrington" target="_blank">GitHub</a>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <div class="image laptop"></div>
        </div>
      </div>
    </div>
  </section>
